html,
body {
    background-color: #faebd7;
    margin: 200;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    background: linear-gradient(225deg, #f2c892, #cba87a);
    box-shadow:  -41px 41px 82px #c09f74,
                  41px -41px 82px #ffd79c;
}

#content {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

table, th, td {
    width: 75%;
    border: 1px solid;
}

    .default-row {
        background-color: cadetblue;
    }

    .complete-row {
        background-color: darkolivegreen;
    }